/* prompt.module.css */
.main {
    background: 
    radial-gradient(circle at top right, rgba(255, 165, 0, 0.5), transparent 30%),
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px) 0 0 / 100px 100%,
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px) 0 0 / 100% 100px;
  }


  /* prompt.module.css */
.gradientText {
    background: linear-gradient(to right, white 20%, rgb(77, 77, 200) 40%, pink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }


  .commonprompts{
    display: flex;
    gap: 3rem;
    position: absolute;
    left: 31%;
    top: 43%;
  }

  .commonprompts .box1{
    width: 10vw;
    height: 20vh;
    border: 1px solid gray;
    border-radius: 0.7rem;
    
  }

  .messageinput{
    width: 50vw;
    height: 25vh;
    outline: none;
    padding-bottom: 4rem;
    padding-left: 1rem;
    border-radius: 1rem;
  }

  .inputContainer{
    position: absolute;
    top: 63%;
    left: 23rem;
    width: 50vw;
    height: 22vh;
    background-color: white;
    border-radius: 2rem;
    color: black;
    outline: none;
    margin: 2rem;
    
  }



  .attachIcon{
    width: 3vw;
    height: 3vh;
    position: relative;
    bottom: 1.3rem;
  }


  .circlePlus {
    width: 20px;
    height: 20px;
    background-color: white; /* Change to the desired color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    bottom: 1.9rem;
    border: 2px solid black;
    left: 0.6rem;
  }
  
  .circlePlus::before {
    content: '+';
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
  }

  .send{
    width: 2.5vw;
    height: 5vh;
    background-color: rgb(80, 80, 220);
    position: relative;
    bottom: 2rem;
    left: 23.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  
  
  